{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}[![made with Go](https://img.shields.io/badge/made%20with-Go-brightgreen)](http://golang.org) [![Github master branch build](https://img.shields.io/github/workflow/status/zufardhiyaulhaq/nodejsweekly/Master)](https://github.com/zufardhiyaulhaq/nodejsweekly/actions/workflows/master.yml) [![GitHub issues](https://img.shields.io/github/issues/zufardhiyaulhaq/nodejsweekly)](https://github.com/zufardhiyaulhaq/nodejsweekly/issues) [![GitHub pull requests](https://img.shields.io/github/issues-pr/zufardhiyaulhaq/nodejsweekly)](https://github.com/zufardhiyaulhaq/nodejsweekly/pulls)

## Installing the Chart

To install the chart with the release name `my-nodeweekly` and secret `foo`:

```console
kubectl apply -f secret.yaml

helm repo add nodeweekly https://zufardhiyaulhaq.com/nodeweekly/charts/releases/
helm install my-nodeweekly nodeweekly/nodeweekly --values values.yaml
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
